doctype html
html(lang="fr")
    head
        link(rel="stylesheet", href="Css/main.css")
        title Projet-K
    body
        header  
            h1.titre 
                div.wrapper
                    div.neonwrapper
                        div.neon-text Cyberpunk
        div.organisation_menu
            ul.liste_menu
                li
                    p Histoire 
                li
                    p Nouveautés
                li
                    p Forum 
                li
                    p Aide de jeu
        div.organisation_sousmenu
            ul.liste_sousmenu
                li 
                    p Le monde
                li 
                    p Le cyberpunk
                li
                    p La technologie
                li
                    p La ville
                li
                    p Les alentours
        div.Corps_page
            p
                img(src="../images/logotest.png")
            p.inscription
                div.wrapper
                    div.neonwrapper_inscription
                        div.neon-text_inscription Inscription
        footer.footer 
            p.gauchefooter 
                p Mention légales
            p.droitefooter 
                p Contactez-nous

